# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

avx_kernel_many.s
kernel_include.cpp
avx
*.tb6
avx_kernel.o.iacs
avx_kernel.iacs
